<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>The image is 1000x1000 wide, so to center a 200x200 box you'll need to place it at X:400 Y:400.</string>
        </dict>
    </array>
</dict>
</plist>