<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Hints</key>
    <array>
        <dict>
            <key>Content</key>
            <string>If you delete `xor` and just have `.`, you should see code completion options for `difference`, `luminosity`, `overlay`, and more.</string>
        </dict>
    </array>
</dict>
</plist>